.markdown-style {
    * {
        padding: 0;
        margin: 0;
        font-size: 2rem;
        text-decoration: none;
        list-style: none;

        font-family: monospace;
        color: #5ecc00;
    }

    h1, h2, p {
        padding: 1rem;
    }

    ul {
        padding: 0 2rem;
    }

    &__dark {
        background: #3c3c3c;
    }

    &__cursor {
        animation: blinker 1s steps(5, start) infinite;
    }

    @keyframes blinker {
        to {
            visibility: hidden;
        }
    }
}
