<ion-content class="markdown-style markdown-style__dark">
  <h2># code</h2>

  <p>i <3 everything with regards to programming</p>

  <ul>
    <li>- design</li>
    <li>- structure</li>
    <li>- exciting problems</li>
  </ul>

  <p>most code and technologies share similar features.</p>
  <p>finding what sets them apart and when to use them is the challenge i enjoy most
    <span class="markdown-style__cursor">|</span>
  </p>
</ion-content>
