<ion-content class="future-page" padding text-center>
  <img class="future-page__logo"
    src="assets/imgs/slides/giphy.gif">
  <h2 class="future-page__title">Future?</h2>
  <p class="future-page__directions">I may have something planned</p>
</ion-content>
