.slide {
  &__text {
    position: absolute;
    // margin: auto;
    width: 100%;
    bottom: 10%;
  }

  &__1 {
    img {
      width: 50%;
    }
  }

  &__2 {
    background: #f46423;
  }

  &__3 {
    background: #ff5555;

    img {
        margin: -20% 0;
    }
  }

  &__4 {
    background: #1ef51e;
    img {
      width: 60%;
    }
  }
}
