<ion-content>
  <ion-slides pager>
    <ion-slide class="slide__1">
      <img src="assets/imgs/slides/the-sun-cartoon.jpg" alt="">
      <section class="slide__text">
        <h2>Why</h2>
        <p>I get up in the morning</p>
      </section>
    </ion-slide>

    <ion-slide class="slide__2">
      <img src="assets/imgs/slides/hacker-news.jpg" alt="">
      <section class="slide__text">
        <h2>Hackernews</h2>
        <p>read it err'day</p>
      </section>
    </ion-slide>

    <ion-slide class="slide__3">
      <img src="assets/imgs/slides/coffee-talks-2.gif" alt="">
      <section class="slide__text">
        <h2>Coffee</h2>
        <p>and loads of it</p>
      </section>
    </ion-slide>


    <ion-slide class="slide__4">
      <img src="assets/imgs/slides/ninja-logo.png" alt="">
      <section class="slide__text">
        <h2>Work</h2>
        <p>in a kickass job</p>
      </section>
    </ion-slide>

  </ion-slides>
</ion-content>
