<ion-tabs>
  <ion-tab [root]="tab1Root" tabIcon="globe"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="code-working"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="ice-cream"></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="planet"></ion-tab>
</ion-tabs>
