page-home {

}

.home-page {
  background: #2897FF;
  color: #fff;

  &__logo {
    padding-top: 90px;
  }

  &__title {
    font-size: 4rem;
    padding-top: 30px;
  }

  &__directions {
    font-size: 1.5rem;
  }
}
