<ion-content class="home-page" padding text-center>
  <img class="home-page__logo"
    src="assets/imgs/slides/and-logo.png"
    alt="and logo">
  <h2 class="home-page__title">Welcome!</h2>
  <p class="home-page__directions">
    Change between the tabs below to find out what I have to share with you!
  </p>
</ion-content>
